@model IEnumerable<LastShopping.VModels.ManagerRole.ManagerRoleVModel>

@{
    ViewData["Title"] = "ManagerRole Index";
}
<link rel="stylesheet" href="~/lib/datatable/css/datatables.min.css"/>

<script src="~/lib/datatable/js/datatables.min.js"></script>

<h1>管理者身分資料列表</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table id="testTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script src="~/js/ManagerRole/Index.js" asp-append-version="true"></script>
<script nonce="febe20d4-fd87-447c-a128-29735e009af6" crossorigin="anonymous">
    DataTableHelper.getDataTable({
        tableName: "testTable",
        targets: "nosort"
    });
</script>
